/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


*{
  font-family: 'Quicksand', sans-serif;

}

body{
  margin-top: 100px;
  margin-bottom: 70px;
  text-align: center;
  background-color: #C6DFF1ff;


}

/* ---HEADER--- */
header{
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  align-content: center;
  justify-content: center;
  list-style-type: none;
  align-items: baseline;
}

.login-links{
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: baseline;
  flex-direction: row;

}

/* ---FOOTER--- */
.footer{
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  align-content: center;
  justify-content: center;
  list-style-type: none;
  align-items: baseline;
}

/* ---LOGOS--- */
.logo{
  height: 50px;
  width: auto;
}


/* ---HOME--- */
.apartment-background {
  width: 100vw;
  margin-top: 10px;
}



/* ---INDEX--- */

/* ---CARDS--- */

/* ---CONTACT--- */
.contact{
  margin: auto;
  padding: 10px;
}

.subject{
  margin-left: 20%;
  margin-right: 20%;
}

.info{
  margin-left: 20%;
  margin-right: 20%;
}

.button{
  display: flex;
  justify-content: center;
}
/* ---PROFILE--- */
.cards{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

/* ---LOGIN--- */

/* ---SIGNUP--- */

/* ---NEWAPARTMENT--- */
.form {
  margin-left: 20%;
  margin-right: 20%;
}
